---
import Layout from "../layouts/Layout.astro"
import SocialBar from "../components/SocialBar.astro";
---

<Layout title="Tom Shaw • About">
  <main class="h-screen flex flex-col">
    <div class="mt-16 flex flex-col md:mt-20">
      <h1 class="text-3xl ml-4 md:text-5xl md:ml-32">About Me</h1>

      <div class="max-w-xl">
        <p class="text-md ml-4 mt-4 md:text-lg md:ml-32 md:mt-9">Hi there, I'm Tom! Thanks for stopping by. I'm currently working as a frontend developer at HMRC, while on my final year at Northumbria Uni studying Computer Science BSc.</p>
        <p class="text-md ml-4 mt-4 md:text-lg md:ml-32 md:mt-9">I have a great passion for all things web, constantly trying new tools and getting side-tracked with learning them. I hope this will be evident from my projects showcase, and my blog, where I discuss primarily developer-related topics.</p>
        <p class="text-md ml-4 mt-4 md:text-lg md:ml-32 md:mt-9">In my spare time, I like to go to the gym, read, watch TV/Movies and sometimes play video games.</p>
      </div>
      <SocialBar />
    </div>
  </main>
</Layout>
