---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Tom Shaw • About">
  <main class="h-screen flex flex-col">
    <div class="mt-16 flex flex-col md:mt-20">
      <h1 class="text-5xl ml-32">Contact</h1>
    </div>
  </main>
</Layout>
