---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Tom Shaw">
  <main class="h-screen flex flex-col">
    <div class="flex flex-col place-items-center">
      <h1 class="text-6xl">Tom Shaw</h1>
      <h2 class="text-xl mt-4">Computer Science BSc • Frontend Developer @ HMRC</h2>
      <img src="/assets/profile.jpg" alt="A picture of me!" height="300" width="300" class="mt-4 rounded-full ring-8 ring-accent">
    </div>
  </main>
</Layout>
