---
import Layout from "../layouts/Layout.astro"
import NavBar from "../components/NavBar.astro";
---

<Layout title="Tom Shaw • Developer">
  <main class="h-screen flex flex-col">
    <NavBar />
    <div class="mt-28 flex flex-col place-items-center">
      <h1 class="text-6xl">Tom Shaw</h1>
      <h2 class="text-2xl mt-4">Computer Science BSc • Frontend Developer @ HMRC</h2>
      <img src="/assets/profile.jpg" alt="A picture of me!" height="300" width="300" class="mt-8 rounded-full ring-8 ring-accent">
    </div>
  </main>
</Layout>
