---
import Layout from "../layouts/Layout.astro";

import SocialBar from "../components/SocialBar.astro";
---

<Layout title="Tom Shaw • Home">
  <main class="h-screen flex flex-col">
    <div class="mt-16 flex flex-col place-items-center md:mt-20">
      <h1 class="text-6xl">Tom Shaw</h1>
      <h2 class="text-lg text-center mt-4 md:text-2xl">
        Computer Science BSc • Software Developer @ HMRC
      </h2>
      <img
        src="/assets/profile.jpg"
        alt="A picture of me!"
        height="300"
        width="300"
        class="mt-8 rounded-full ring-8 ring-accent"
      />

      <SocialBar />
    </div>
  </main>
</Layout>
