---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SocialBar from "../components/SocialBar.astro";
---

<Layout title="Tom Shaw • About">
  <main class="h-screen flex flex-col">
    <div class="mt-16 flex flex-col md:mt-20">
      <h1 class="text-5xl ml-32">Projects</h1>

      <div class="ml-32 mt-24 flex flex-row space-x-6">
        <ProjectCard
          title="Portfolio"
          description="The portfolio you are looking at now! This is a super fast website built in Astro to have a place to put my contact and project links, as well as give a bit of insight into me."
          link="https://github.com/tomshaw650/tmsh.dev"
        />
        <ProjectCard
          title="Chi Play Website"
          description="As part of my degree, I built a website for a Human Computer Interaction (HCI) conference. Here, you can view papers and authors from the 2021 event. This was built entirely by me, with an object oriented PHP API and a React frontend."
          link="https://github.com/tomshaw650/KF6012-coursework"
        />
        <ProjectCard
          title="Frontend Placement Tutorial"
          description="I wrote a tutorial for future frontend developer placement students at HMRC. There was little to no documentation on the tech stack for new starters, so I used my experience to create this. I built it using the GOV.UK prototype kit, which is built upon Nunjucks."
          link="https://github.com/tomshaw650/frontend-placement-tutorial"
        />
      </div>

      <SocialBar />
    </div>
  </main>
</Layout>
