---
import '../styles/base.css';
import '../styles/animate.css';
---

<ul class="mt-6 flex flex-row place-content-center space-x-6 text-md md:text-xl">
  <li class="el"><a href="/">Home</a></li>
  <li class="el"><a href="/about">About</a></li>
  <li class="el"><a href="/projects">Projects</a></li>
  <li class="el"><a href="/blog">Blog</a></li>
  <li class="el"><a href="/contact">Contact</a></li>
</ul>
