<div class="mt-6 flex space-x-6 justify-center">
  <a href="https://github.com/tomshaw650" target="_blank"
    ><i class="fa-brands fa-github-square fa-3x"></i>
  </a>
  <a href="https://twitter.com/tomshawdev" target="_blank"
    ><i class="fa-brands fa-twitter-square fa-3x"></i>
  </a>
  <a href="https://www.linkedin.com/in/tom-shaw99/" target="_blank"
    ><i class="fa-brands fa-linkedin fa-3x"></i>
  </a>
</div>

<style>
  .fa-brands {
    transition: 0.5s ease;
  }

  .fa-brands:hover {
    color: #03989e;
  }
</style>
